#mainpage {
    height:100%;
    width:50vw;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    background:beige;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
}

#animation_div {
    width:auto;
    height:auto;
}