#modal {
    display:block;
    position: initial;

}

#modalSuccess {
    background:rgba(15, 236, 15, 0.885);
}

#modalWarning {
    background: yellow;
}

#modalError {
    background: rgb(255, 16, 16)
}

#motion {
    height:auto;
    width:auto;
    background: red;
    border-radius: 6px;
    overflow: hidden;
}




