#modal {
    display:block;
    position: initial;

}

#modalBackground {
    background:rgba(15, 236, 15, 0.885);
}

#modalError {
    background: yellow;
}

#modalWarning {
    background: rgb(255, 16, 16)
}




